#lobby
  - if Game::Multi.created.empty?
    %p There are no opened games... why don't you start a new one?
  - else
    %table
      %tr
        %th Players
        %th{ :width => 100 } &nbsp;
      - Game::Multi.created.each do |game|
        - if game.users.count == 0
          -  game.delete
        - else
          %tr
            %td
              = game.users.map(&:name).join(", ")
            %td
              - if game.has_user?(current_user)
                = link_to 'back to game', join_game_path(game)
              - elsif game.can_be_joined? 
                = link_to 'join this game', join_game_path(game)
  .clear
    %p
      Games in progress:
      = Game.where( :state => 'playing').count

      %br
      Games played:
      = Game.where( :state => 'finished').count
