%h2
  Welcome to the
  = flickrify("multiplayr")
  lobby,
  = current_user.name

.clear

= render :partial => 'lobbies/lobby'

%h2{ :style => 'margin-top: 1em' }
  Start a new
  = flickrify("multiplayr")
  game

= form_for(:game, @game, :url => multi_game_path, :method => :post, :html => { :class => 'clear' }) do |f|
  = f.text_field :images_category, :placeholder => 'choose a topic (e.g. plants)'
  %span or just click &rarr;
  %button{ :type => 'submit' } Start game!
  .clear.error= @game.errors[:images_category]

.divider

.clear.prepend-top
  %a.button{ :href => '/logout' }
    %img{ :src => "/images/door-open-out.png"}
    Logout
