#end_statistics{:style => 'display:none;'}
  %p Game Over!
  - if @game.is_a? Game::Multi
    - if @game.last_move.user_id == current_user.id
      %p Congratulation! You are the winner!
    - else
      %p
        = @game.last_move.user.name
        has won this game.

    - @game.users.each do |u|
      = u.name
      = ':&nbsp'
      = @game.count_moves_for_player(u)
      hits.

  - else
    %p Congratulations!
    %p
      You have used
      = @game.moves.count
      moves to solve this one.
    %p
      Average hit ratio:
      = "#{((@game.moves.hits.count * 100) / @game.moves.count)}%"