#end_statistics{:style => 'display:none;'}
  %p Game Over!
  - if @game.is_a? Game::Multi
    - if @game.am_i_the_winner?
      %p Congratulations! You are the winner!
    - else
      %p
        = @game.winners.map{|u| u.name}.join(' and ')
        = (@game.winners.size > 1) ? 'have' : 'has'
        won this game.

    %ul.user_statistics
      - @game.users.each do |u|
        %li
          = u.name
          != ':&nbsp'
          = @game.count_good_moves_for_player(u)
          = "(#{(@game.count_good_moves_for_player(u) * 100 )/@game.count_all_moves_for_player(u)}%)"
          hits.

  - else
    %p Congratulations!
    %p
      You have used
      = @game.moves.count
      moves to solve this one.
    %p
      Average hit ratio:
      = "#{((@game.moves.hits.count * 100) / @game.moves.count)}%"