%ul.tiles
  - @game.tiles.each_with_index do |tile, index|
    %li
      - if tile.visible?
        %a{ :id => "img_" + index.to_s}= flickr_img(tile.flickr_image, :size => :small)
      - elsif @game.last_revealed == index
        %a{ :href => '#', :class => 'hidden_image', :id => "img_" + index.to_s}= flickr_img(tile.flickr_image, :size => :small)
      - else
        %a{ :href => '#', :class => 'hidden_image', :id => "img_" + index.to_s}= image_tag('card_back2.jpg', :alt => 'Click to reveal')
  - if @game.last_revealed
    :javascript
      checked_tile = 'img_' + #{@game.last_revealed}

  //preload images
  :javascript
    var images = [ #{@preloaded_images_list} ];
    preload_images(images);

.span-24.last.prepend-top
  = link_to 'Start a new game', new_game_path, :confirm => 'Giving up so soon?', :class => 'button'


