- content_for :header do
  %ul#stats
    %li#number_of_moves
      current move:
      = @game.last_move.number + 1 rescue 1
    %li
      elapsed time:
      %span#timer= show_elapsed_time(@game)

  - if @game.is_multi?
    #multi_stats
      #turn_indicator
        - if @game.my_turn?
          MY TURN
        - else
          Active player:
          %br
          = @game.active_user.name


- if @game.is_a? Game::Multi
  #multiplayer_game{:style => 'display:none'}
    :javascript
      var my_turn = #{@game.my_turn?};


%ul.tiles
  - @game.tiles.each_with_index do |tile, index|
    %li
      - if tile.visible?
        %a{ :id => "img_" + index.to_s}= flickr_img(tile.flickr_image, :size => :small)
      - elsif @game.last_revealed == index and @game.my_turn?
        %a{ :href => '#', :class => 'hidden_image', :id => "img_" + index.to_s}= flickr_img(tile.flickr_image, :size => :small)
      - else
        %a{ :href => '#', :class => 'hidden_image', :id => "img_" + index.to_s}= image_tag('card_back2.jpg', :alt => 'Click to reveal')
  - if @game.last_revealed and @game.my_turn?
    :javascript
      checked_tile = 'img_' + #{@game.last_revealed}

  //preload images
  :javascript
    var images = [ #{@preloaded_images_list} ];
    preload_images(images);

.span-24.last.prepend-top
  - confirmation_msg = ( @game.is_current_user_owner? ? 'You are the game owner. Do you really want to leave this game?' : 'Giving up so soon?' )
  - redirect_path  = @game.is_multi? ? lobby_path : new_game_path
  = link_to 'Start a new game', redirect_path, :confirm => confirmation_msg, :class => 'button', :id => 'new_game_button'


