.span-24.last
  = link_to 'New game', new_game_path, :class => 'new_game'

%ul.tiles
  - @game.tiles.each_with_index do |tile, index|
    %li
      - if tile.visible?
        %a{ :href => '#', :id => "img_" + index.to_s}= flickr_img(tile.flickr_image, :size => :small)
      - elsif @game.last_revealed == index
        %a{ :href => '#', :class => 'hidden_image', :id => "img_" + index.to_s}= flickr_img(tile.flickr_image, :size => :small)
      - else
        %a{ :href => '#', :class => 'hidden_image', :id => "img_" + index.to_s}= image_tag('card_back.jpg', :alt => 'Click to reveal')
  - if @game.last_revealed
    :javascript
      checked_tile = 'img_' + #{@game.last_revealed}

      //preload images
      var preloaded_images = [ #{@preloaded_images_list} ];

      jQuery.each(images, function(i) {
        preloaded_images[i] = new Image();
        preloaded_images[i].src = this;
      });


