!!! 5
%html
  %head
    %title Memoizr

    / Blueprint
    = stylesheet_link_tag 'blueprint/screen', :media => 'screen, projection'
    = stylesheet_link_tag 'blueprint/print', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'blueprint/ie', :media => 'screen, projection'
    %link{ :rel => "stylesheet", :type => "text/css", :href => "http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&subset=latin" }
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/stylesheets/application.css" }

    = javascript_include_tag :defaults, 'jquery.placeholder'
    = csrf_meta_tag

    = render :partial => 'shared/analytics' if Rails.env.production?
  %body
    #header
      .container
        %h1= flickrify("memoizr")
        %span.subtitle
          the ultimate memory
          = flickrify("challengr")

    .container
      .divider
      = yield

    #footer
      .container
        .divider
        %p
          %strong &copy; 2010 The Gary Muvaut Foundation
          %br
          = link_to "behemot", "http://github.com/kotbehemot"
          |
          = link_to "czak", "http://github.com/czak"
          |
          = link_to "tjeden", "http://github.com/tjeden"
